/* Materias.css */

/*-------------PC--------------*/
@media (min-width: 1024px) {
    .materias {
    background-color: #c6d4e1;
    display: grid;
    height: 1200px;
    grid-template-rows: 15% 55% 30%;
    align-items: center;
    justify-items: center;
    }

    .materias h1 {
        margin-top: 20px;
        font-size: 45px;
    }

    .materias img {
        height: 100px;
        width: 100px;
    }

    .mats {
        height: 100%;
        width: 45%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 25px;
        text-align: center;

    }

    .mats A:link {
        text-decoration: none;
        color:black;
    }

    .mats A:visited {
        color: black;
        font-family: arial;
        text-decoration: none
    }

    .mats A:hover {
        color: black;
        font-family: arial;
        text-decoration: none
    }

    .materia-info {
        width: 150px;
        height: 150px;
        display: grid;
        grid-template-rows: 90% 10%;
        justify-items: center;
        cursor: pointer;
    }

    .infoContainer {
        display: grid;
        width: 80%;
        height: 300px;
        align-items: center;
        justify-items: center;
        font-size: 30px;
        text-align: center;
        
    }

    #infoTexto {
        font-size: 18px;
    }

    .title-materia{
            width: 80%;
            background-color: #44749d;
            font-size: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            height: 100px;
    }

    .openfing img{
        width: 120px;
        height: 50px;
    }

    .openfing{
        display: flex;
        align-items: center;
        gap: 20px;
        justify-content: center;
    }

    .haz-click{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #44749d;
        color: white;
        height: 80px;
        width: 60%;
        border-radius: 20px;
        text-align: center;
        
}
}
@media only screen and (max-width: 768px) {
    /* Materias.css */
    .materias {
        background-color: #c6d4e1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        gap: 20px;
        height: 1400px;
    }

    .materias h1 {
        margin-top: 20px;
        font-size: 45px;
        color: black;
    }

    .materias img {
        height: 90px;
        width: 75px;
    }

    .mats {
        height: 70%;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .mats   A:link {
        text-decoration: none
    }

        .mats A:visited {
        color: black;
        font-family: arial;
        text-decoration: none
    }

        .mats  A:hover {
        color: black;
        font-family: arial;
        text-decoration: none
    }

    .materia-info {
        width: 150px;
        height: 130px;
        display: grid;
        grid-template-rows: 90% 10%;
        justify-items: center;
    }

    .infoContainer {
        text-align: center;
        display: grid;
        height: 300px;
        align-items: center;
        justify-items: center;
        font-size: 20px;

    }

    .title-materia {
        width: 80%;
        background-color: #44749d;
        font-size: 20px;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        color: white;
        height: 100px;
    }

    .openfing img {
        width: 90px;
        height: 40px;
    }

    .openfing {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        gap: 5px;
    }
    
    .haz-click {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #44749d;
        color: white;
        height: 90px;
        width: 90%;
        border-radius: 20px;
        text-align: center;

    }
}


/*-------------tablet--------------*/
@media (min-width: 768px) and (max-width: 1023px) {
    /* Materias.css */
        .materias {
            background-color: #c6d4e1;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-items: center;
            gap: 20px;
            height: 1000px;
        }
    
        .materias h1 {
            font-size: 45px;
            color: black;
        }
    
        .materias img {
            height: 90px;
            width: 75px;
        }
    
        .mats {
            height: 60%;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
    
        .mats A:link {
            text-decoration: none
        }
    
        .mats A:visited {
            color: black;
            font-family: arial;
            text-decoration: none
        }
    
        .mats A:hover {
            color: black;
            font-family: arial;
            text-decoration: none
        }
    
        .materia-info {
            font-size: 20px;
            width: 150px;
            height: 130px;
            display: grid;
            grid-template-rows: 90% 10%;
            justify-items: center;
        }
    
        .infoContainer {
            text-align: center;
            display: grid;
            height: 300px;
            align-items: center;
            justify-content: center;
            font-size: 20px;
    
        }
    
        .title-materia {
            background-color:#44749d;
            font-size: 20px;
            display: flex;
            align-items: center;
            text-align: center;
            justify-content: center;
            color: white;
            height: 100px;
            border-radius: 20px;
        }
    
        .openfing img {
            width: 90px;
            height: 40px;
        }
    
        .openfing {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-items: center;
            gap: 5px;
        }

        .haz-click {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color:#44749d;
            color: white;
            height: 90px;
            width: 80%;
            border-radius: 20px;
            text-align: center;

        }
}