/* Materias.css */
.materias {
    display: grid;
    height: 1200px;
    grid-template-rows: 15% 40% 40%;
    align-items: center;
    justify-items: center;
}

.materias h1 {
    margin-top: 50px;
    font-size: 45px;
}

.materias img {
    height: 100px;
    width: 100px;
}

.mats {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    width: 60%;
}

.mats A:link {
    text-decoration: none
}

.mats A:visited {
    color: black;
    font-family: arial;
    text-decoration: none
}

.mats A:hover {
    color: black;
    font-family: arial;
    text-decoration: none
}

.materia-info {
    width: 150px;
    height: 150px;
    display: grid;
    grid-template-rows: 90% 10%;
    justify-items: center;
    cursor: pointer;
}

#infoContainer {
    display: grid;
    width: 80%;
    height: 300px;
    align-items: center;
    justify-items: center;
    font-size: 30px;
    
}

#infoTexto {
    font-size: 18px;
}

.title-materia{
        width: 80%;
        background-color: rgb(23, 33, 94);
        font-size: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        height: 100px;
}

.openfing img{
    width: 120px;
    height: 50px;
}

.openfing{
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
}

@media only screen and (max-width: 768px) {
    /* Materias.css */
    .materias {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        gap: 20px;
        margin-top: 40px;
        height: 1300px;
    }

    .materias h1 {
        font-size: 45px;
        color: black;
    }

    .materias img {
        height: 90px;
        width: 75px;
    }

    .mats {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .mats   A:link {
        text-decoration: none
    }

        .mats A:visited {
        color: black;
        font-family: arial;
        text-decoration: none
    }

        .mats  A:hover {
        color: black;
        font-family: arial;
        text-decoration: none
    }

    .materia-info {
        width: 150px;
        height: 130px;
        display: grid;
        grid-template-rows: 90% 10%;
        justify-items: center;
    }

    #infoContainer {
        margin-top: 10px;
        display: grid;
        height: 300px;
        align-items: center;
        justify-content: center;
        font-size: 20px;

    }

    .title-materia {
        background-color: rgb(23, 33, 94);
        font-size: 20px;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        color: white;
        height: 100px;
    }

    .openfing img {
        width: 90px;
        height: 40px;
    }

    .openfing {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        gap: 5px;
    }
}