@media only screen and (max-width: 1024px) {
    .mapa-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 700px;
        flex-direction: column;
        gap: 50px;
        font-size: 50px;
        color: white;
        background-color: #5580A5;
    }
}

@media only screen and (max-width: 768px) {
.mapa-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height:500px;
        flex-direction: column;
        gap: 50px;
        font-size: 40px;
        color: white;
        background-color: #5580A5;
    }
    .mapa{
        width: 80%;
        height: 300px;
        border: 3px solid white;
    }
}

/*-------------tablet--------------*/
@media (min-width: 768px) and (max-width: 1023px) {
.mapa-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 700px;
        flex-direction: column;
        gap: 50px;
        font-size: 60px;
        color: white;
        background-color: #5580A5;
    }

    .mapa {
        width: 80%;
        height: 500px;
        box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
        
    }
}