.nosotros-container{
    background-image: url(../../../public/imgs/fondo-materias.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    height: 500px;
    display: grid;
    grid-template-columns: 60% 40%;
    align-content: center;
    
}

.left-column-about{
    height: 100%;
    display: grid;
    gap: 20px;
    grid-template-rows: 20% 80%;
    align-content: center;
    justify-items: center;
}



.us-pic{
    border-radius: 20px;
    width: 700px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 50px 70px 4px;
}

.text{
    background-color: rgba(255, 255, 255,0.9);
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    display: flex;
    width: 80%;
    text-align: justify;
    font-size:20px;
    color: rgb(23, 33, 94);
    border: 2px solid rgb(23, 33, 94);
}


.quienes-somos{
    color: rgb(23, 33, 94);;
    border: 2px solid rgb(23, 33, 94);
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
}

.imagen-nosotros{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 768px) {
    .nosotros-container {
        background-image: url(../../../public/imgs/fondo-materias.png);
        color: white;
        height: 1600px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        align-content: center;

    }

    .left-column-about {
        display: grid;
        gap: 20px;
        height: 1200px;
        grid-template-rows: 30% 70%;
        align-content: center;
        justify-items: center;
    }


    .us-pic {
        border-radius: 20px;
        width: 370px;
    }

    .text {
        background-color: rgba(255, 255, 255, 0.9);
        border-radius: 20px;
        padding: 20px;
        text-align: center;
        align-items: center;
        display: flex;
        width: 80%;
        text-align: left;
        height: auto;
        font-size: 20px;
        color: rgb(23, 33, 94);
        border: 2px solid rgb(23, 33, 94);
    }


    .quienes-somos {
        color: rgb(23, 33, 94);
        ;
        border: 2px solid rgb(23, 33, 94);
        background-color: rgba(255, 255, 255, 0.9);
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 300px;
    }

    .imagen-nosotros {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
