nav {
    background-color: rgb(102, 107, 142);
    color: white;
    padding: 0.5em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

nav ul {
    display: flex;
    gap: 40px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;;
}

nav a {
    text-decoration: none;
    color: white;
}

@media only screen and (max-width: 768px) {
    nav {   
            height: 40px;
            background-color: rgb(102, 107, 142);
            color: white;
            display:flex;
            flex-direction: row;
            font-size: 11px;
            justify-items: center;
            align-items: center;
        }
    
    nav ul {
        width: 80%;
        grid-area: 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-items: center;
        text-align: center;
        list-style-type: none;
        align-items: center;
    }

    nav a {
        text-decoration: none;
        color: white;
    }
}