* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.logo-attached{
    height: 70px;
    width: 70px;
    position:fixed;
    top: 200px;
    left: 0s;
    border-top-right-radius: 10px 10px;
    border-bottom-right-radius: 10px 10px;
}